@model LivroCaixa.Models.Movimento

@{
    ViewBag.Title = "Excluindo";
}

<h2>Excluir Movimento</h2>

<h3>Confirma Exclusão deste Movimento?</h3>
<div>
    <h4>Movimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mei.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mei.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMovimento.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMovimento.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
