@model IEnumerable<LivroCaixa.Models.Movimento>

@{
    ViewBag.Title = "Lista de Movimentos do MEI";
}

<h2>Relação de Movimentos do MEI</h2>

<p>
    @Html.ActionLink("Novo Movimento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mei.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMovimento.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mei.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMovimento.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.IdMovimento }) |
            @Html.ActionLink("Visualizar", "Details", new { id=item.IdMovimento }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.IdMovimento })
        </td>
    </tr>
}

</table>
